header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 75px;
	z-index: 10;
	line-height: 75px;
	padding-top: 1px;
	
	@media screen and (max-width: #{$screen-xs - 1}) {
		background-color: rgba(0,0,0,0.95);
		padding-top: per(110, 750);
		height: 0;
	}
	.menu-bg{
		@include SubItem();
		position: fixed;
		background: 0 0/100% 100%;
		border-left: 5px solid #ff0054;	
		@include animation(
			menu-out 0.5s 1 linear forwards 0s
		);
	}
	.menu{
		// @include Item('auto', 'auto', 0, 90, 'auto', 'auto', 1920, 'fit', 'relative');
		position: absolute;
		height: 45px;
		margin-top: per(30 ,1920);
		z-index: 10;
		line-height: 41px;
		right: 90px;
		top: 0;
		letter-spacing: 0;
		border-top: 1px solid #3a4549;
		a{
			letter-spacing: 1px;
			letter-spacing: 0.1px;
			position: relative;
			min-height: 22px;
			display: inline-block;
			&:after{
				position: absolute;
				border-top: 4px solid #e1004a;
				width: 0%;
				top: 0;
				left: 100%;
				left: calc(100% + 45px);
				content: '';
				transition-duration: 0.2s;
			}
			&.active{
				&:after{
					left: 0;
					width: 100%;
				}

				&~ a:after{
					left: -45px;
					width: 0;
				}
			}
			&+a{
				margin-left: 45px;
			}

			&[disabled]{
				opacity: 0.3;
				pointer-events: none;
				text-decoration: line-through;
			}
		}
		@media screen and (max-width: #{$screen-xs - 1}) {
			@include SubItem();
			position: fixed;
			a{
				position: absolute;
				&:after{
					display: none;
				}
				img{
					@include SubImgW();
				}
				&:nth-child(1){
					left: per(80, 750);
					top: per(120, 950);
					width: per(291, 750);
					padding-top: per(70, 750);
				}
				&:nth-child(2){
					left: per(80, 750);
					top: per(260, 950);
					width: per(291, 750);
					padding-top: per(142, 750);
				}
				&:nth-child(3){
					left: per(80, 750);
					top: per(400, 950);
					width: per(409, 750);
					padding-top: per(142, 750);
				}
				&:nth-child(4){
					left: per(80, 750);
					top: per(590, 950);
					width: per(290, 750);
					padding-top: per(70, 750);
				}
				&:nth-child(5){
					left: per(80, 750);
					top: per(730, 950);
					width: per(290, 750);
					padding-top: per(70, 750);
				}
				&+a{
					margin-left: 0;
				}
			}
			@include animation(
				menu-out 0.5s 1 linear forwards 0s
			);
		}
	}

	.logo{
		a{
			display: block;
			@include Item(75, 50, 20, 0, 0, 30, 1920, 'none', 'absolute');
			@media screen and (max-width: #{$screen-xs - 1}) {
				@include Item(75, 50, 30, 0, 0, 30, 750,'fit','absolute');
			}
			img{
				@include SubImgW();
			}
		}
		font-size: em(11,14);
		font-size: 0.01em;
	}
	.fb{
		display: block;
		@include Item(8, 17, 30, 37, 'auto', 'auto', 1920, 'none', 'absolute');
		@media screen and (max-width: #{$screen-xs - 1}) {
			@include Item(91, 79, 'auto', 0, 36, 328, 750,'fit','fixed');
			@include animation(
				menu-out 0.5s 1 linear forwards 0s
			);
			z-index: 1!important;
		}
		img{
			@include SubImgW();
		}
	}
	.fb1{
		@include Item(91, 79, 20, 20, 0, 'auto', 750, 'fit','fixed');
		// @include animation(
		// 	menu-out 0.5s 1 linear forwards 0s
		// );
		z-index: 1!important;
		img{
			@include SubImgW();
		}
	}
	.background{
		@include SubItem();
		opacity: 0;
	}
	.close{
		opacity: 1;
		@include Item(40, 30, 39, 30, 0, 'auto', 750,'fit','absolute');
		transition-duration: 0.35s;
		figure.x, figure.burg{
			background-position: center;
			background-size: cover;
			transition-duration: 0.35s;
			@include SubItem();
		}
		figure.x{
			opacity: 0;
			filter: blur(20px);
		}
		figure.burg{
			opacity: 1;
		}
		&.x{
			@include Item(34, 35, 39, 33, 0, 'auto', 750,'fit','absolute');
			figure.x{
				opacity: 1;
				filter: none;
			}
			figure.burg{
				opacity: 0;
				filter: blur(20px);
			}
			&~.menu-bg{
				@include animation(
					menu-in 0.5s 1 linear forwards 0s
				);
			}
			&~.menu{
				@include animation(
					menu-in 0.5s 1 linear forwards 0s
				);
			}
			&~.fb{
				@include animation(
					fb-in 0.5s 1 linear forwards 0s
				);
			}
		}
	}

	a img{
		filter: drop-shadow(3px 3px 5px #000);
	}
}

@include keyframes ( menu-in ){
	from {
		top: 0;
		z-index: 0;
		opacity: 0;
		filter: blur(20px);
		height: 100%;
	}
	to {
		top: 0;
		height: 100%;
		z-index: 0;
		opacity: 1;
		filter: none;
	}
}


@include keyframes ( fb-in ){
	from {
		z-index: 1;
		opacity: 0;
		top: auto;
		filter: blur(20px);
	}
	to {
		z-index: 1;
		opacity: 1;
		top: auto;
		filter: none;
	}
}

@include keyframes ( menu-out ){
	from {
		z-index: 0;
		opacity: 1;
		filter: none;
		height: 100%;
		top: 0;
	}
	99% {
		top: 0;
		z-index: 0;
		opacity: 0;
		filter: blur(20px);
		height: 100%;
	}
	to {
		top: -999em;
		z-index: -20!important;
		height: 0;
		opacity: 0;
		filter: blur(20px);
	}
}
