.home{
	.kv{
		overflow: hidden;
		@include Item(1920, 1080, 0, 'auto', 'auto', 0, 1920, 'fit', 'relative');
		position: relative;
		@media screen and (max-width: #{$screen-xs - 1}) {
			@include Item(750, 950, 0, 0, 0, 0, 750,'fit','relative');
			padding-top: 100vh;
		}
		.visual,.background,.shadow{
			@include SubItem();
			@media screen and (max-width: #{$screen-xs - 1}) {
				background-size: cover;
				background-position: center;
			}
		}

		.shadow{
			background-size: cover;
			background-position: center;
		}

		.visual{
			@include Item(1920, 1080, 0, 'auto', 'auto', 0, 1920, 'fit', 'absolute');
			background-size: 100% auto;
			background-position: center bottom;
			background-repeat: no-repeat;
			@media screen and (max-width: #{$screen-xs - 1}) {
				@include SubItem();
			}
		}

		.here-to-create{
			@include Item(328, 419, 227, 0, 0, 188, 1920, 'fit', 'absolute');
			@media screen and (max-width: #{$screen-xs - 1}) {
				@include Item(283, 360, 44, 0, 0, 233, 750,'fit','absolute');
				margin-top: 13vh;
				margin-top: calc(30vh - 25vw);
			}
			z-index: 0;
			img{
				@include SubImgW();
			}
		}


		a.cfa{
			@include Item(279, 58, 689, 0, 0, 217, 1920, 'fit', 'absolute');
			@media screen and (max-width: #{$screen-xs - 1}) {
				@include Item(369, 77, 'auto', 0, 195, 192, 750,'fit','absolute');
			}
			.cfa{
				@include SubItem();
				img{
					@include SubItem();
				}
			}
			&:hover ~.cfa-bg{
				transition-duration: 2s;
				opacity: 1;
				transform: rotateZ(0deg);
				img{
				-webkit-animation: mask-replay 3s steps(29) forwards;
						animation: mask-replay 3s steps(29) forwards;
				}
			}
		}

		.text{
			@include Item(367, 125, 749, 0, 0, 172, 1920, 'fit', 'absolute');
			@media screen and (max-width: #{$screen-xs - 1}) {
				@include Item(470, 142, 'auto', 0, 58, 135, 750,'fit','absolute');
			}
			img{
				@include SubImgW();
			}
		}

		.scroll{
			@include Item(1920, 131, 'auto', 'auto', 0, 0, 1920, 'fit', 'absolute');
			background-position: center;
			background-size: auto 100%;
			background-repeat: no-repeat;
			@media screen and (max-width: #{$screen-xs - 1}) {
				@include Item(29, 66, 'auto', 0, 0, 360, 750,'fit','absolute');
				background-position: center top;
				background-size: 100% auto;
				background-repeat: no-repeat;
			}
		}
	}

	.lin, .lu, .chen{
		overflow: hidden;
		@include Item(1920, 1277, 0, 0, 0, 0, 1920, 'fit', 'relative');
		.background{
			@include SubItem();
			background-position: center;
			background-size: cover;
		}
		.parallax{
			@include SubItem();
			.pic-1{
				@include Item(515, 511, 248, 0, 0, 1386, 1920, 'fit', 'absolute');
				@media screen and (max-width: #{$screen-xs - 1}) {
					@include Item(515, 511, 865, 0, 0, -142, 750,'fit','absolute');
				}
			}
			.pic-2{
				@include Item(358, 285, 751, 0, 0, 1560, 1920, 'fit', 'absolute');
				@media screen and (max-width: #{$screen-xs - 1}) {
					@include Item(358, 285, 2248, -73, 0, 'auto', 750,'fit','absolute');
					left: auto!important;
				}
			}
			.pic-1,.pic-2{
				figure{
					@include SubItem();
					background-position: center;
					background-size: cover;
				}
			}
			.headline{
				@include Item(700, 0, 138, 0, 0, 800, 1920, 'fit', 'absolute');
				@media screen and (max-width: #{$screen-xs - 1}) {
					@include Item(750, 0, 0, 0, 0, 0, 750,'fit','relative');
					z-index: 3;
				}
				ul, .text{
					@include Item(590, 0, 200, 0, 0, 130, 700, 'fit', 'absolute');
					@media screen and (max-width: #{$screen-xs - 1}) {
						@include Item(610, 0, 631, 0, 0, 0, 750,'fit','absolute');
						height: auto;
					}
					height: auto;
					color: #ff0054;
				}
				h3{
					@include Item(599, 137, 9, 0, 0, 0, 700, 'fit', 'absolute');
					@media screen and (max-width: #{$screen-xs - 1}) {
						@include Item(358, 208, 230, 0, 0, 50, 750,'fit','absolute');
					}
					img{
						@include SubImgW();
					}
				}
			}
			article{
				ul{
					color: #ff0054;
					margin: per(60,700) 0 per(50,700) per(110,700);
				}
			}
		}
		a.cfa{
			@include Item(279, 58, 490, 0, 0, 0, 570, 'fit', 'absolute');
			@media screen and (max-width: #{$screen-xs - 1}) {
				@include Item(369, 77, 'auto', 0, 80, 190, 750,'fit','absolute');
			}
			.cfa{
				@include SubItem();
				img{
					@include SubItem();
				}
			}
		}
		.viewport{
			@media screen and (max-width: #{$screen-xs - 1}) {
				@include Item(750, 0, 0, 0, 0, 0, 750,'fit','absolute');
				height: 100%;
			}
			.text{
				@media screen and (max-width: #{$screen-xs - 1}) {
					@include Item(643, 0, 1137, 0, 0, 50, 750,'fit','absolute');
					height: auto;
				}
			}
		}
		.headline{
			ul, .text{
				@media screen and (max-width: #{$screen-xs - 1}) {
					@include Item(694, 0, 631, 0, 0, 0, 750,'fit','absolute');
					height: auto;
				}
			}
			h3{
				@media screen and (max-width: #{$screen-xs - 1}) {
					@include Item(358, 208, 230, 0, 0, 50, 750,'fit','absolute');
				}
			}
		}
		&.lin{
			@media screen and (max-width: #{$screen-xs - 1}) {
				@include Item(750, 2599, 0, 0, 0, 0, 750,'fit','relative');
			}
		}
		&.lu{
			@include Item(1920, 1256, -82, 0, 0, 0, 1920, 'fit', 'relative');
			@media screen and (max-width: #{$screen-xs - 1}) {
				@include Item(750, 2577, -77, 0, 0, 0, 750,'fit','relative');
			}
			.headline{
				ul, .text{
					@media screen and (max-width: #{$screen-xs - 1}) {
						@include Item(694, 0, 546, 0, 0, 0, 750,'fit','absolute');
						height: auto;
					}
				}
				ul, .text{
					@include Item(978, 0, 194, 0, 0, 0, 700,'fit','absolute');
					height: auto;
					@media screen and (max-width: #{$screen-xs - 1}) {
						@include Item(750, 0, 631, 0, 0, 0, 750,'fit','absolute');
						height: auto;
					}
				}
			}
			a.cfa{
				@include Item(279, 58, 550, 0, 0, 0, 570, 'fit', 'absolute');
				@media screen and (max-width: #{$screen-xs - 1}) {
					@include Item(369, 77, 'auto', 0, 30, 190, 750,'fit','absolute');
				}
			}
		}
		&.chen{
			@include Item(1920, 1353, -156, 0, 0, 0, 1920, 'fit', 'relative');
			@media screen and (min-width: #{$screen-xs}) {
				.parallax{
					@include SubItem();
					.pic-1{
						margin-left: per(57, 1920);
					}
					.pic-2{
						margin-left: per(80, 1920);
					}
					.pic-1,.pic-2{
						figure{
							@include SubItem();
							background-position: center;
							background-size: cover;
						}
					}
					.headline{
						margin-left: per(386, 1920);
					}
				}
				.viewport{
					margin-left: per(508, 1920);
				}
				.headline{
					ul, .text{
						@include Item(924, 0, 194, 0, 0, 0, 700,'fit','absolute');
						height: auto;
					}
				}
				a.cfa{
					@include Item(279, 58, 620, 0, 0, 0, 570, 'fit', 'absolute');
				}
			}
			.viewport{
				@media screen and (max-width: #{$screen-xs - 1}) {
					@include Item(750, 0, 0, 0, 0, 0, 750,'fit','absolute');
					height: 100%;
				}
				.text{
					@media screen and (max-width: #{$screen-xs - 1}) {
						@include Item(643, 0, 1137, 0, 0, 50, 750,'fit','absolute');
						height: auto;
					}
				}
			}
			@media screen and (max-width: #{$screen-xs - 1}) {
				@include Item(750, 2628, -79, 0, 0, 0, 750,'fit','relative');
				.pic-1{
					@include Item(515, 511, 988, 0, 0, -108, 750,'fit','absolute');
				}
				.pic-2{
					@include Item(358, 285, 1981, 0, 0, 511, 750,'fit','absolute');
				}
				.viewport{
					.text{
						@include Item(643, 0, 1307, 0, 0, 50, 750,'fit','absolute');
						height: auto;
					}
				}
				.headline{
					ul, .text{
						@include Item(750, 0, 631, 0, 0, 0, 750,'fit','absolute');
						height: auto;
					}
				}
				a.cfa{
					@include Item(369, 77, 'auto', 0, 170, 190, 750,'fit','absolute');
				}
			}

		}
	}

	.viewport{
		-webkit-backface-visibility: hidden;
		@include Item(637, 0, 510, 0, 0, 930, 1920, 'fit', 'relative');
		.text{
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			transform: translateZ(0) scale(1);
			// @include SubItem();
			.bold{
				font-weight: 500;
			}
		}
		aside.text{
			max-height: 330px;
			overflow: auto;
			width: auto;
			height: 500px;
			img{
				position: relative;
			}
		}
	}
}

@include keyframes ( mask-play ){
	from {
	-webkit-mask-position: 0% 0;
			mask-position: 0% 0;
	}
	to {
	-webkit-mask-position: 100% 0;
			mask-position: 100% 0;
	}
}

@include keyframes ( mask-replay ){
	from {
	-webkit-mask-position: 100% 0;
			mask-position: 100% 0;
	}
	to {
	-webkit-mask-position: 0% 0;
			mask-position: 0% 0;
	}
}