.rule{
	@include SubItem();
	@media screen and (max-width: #{$screen-xs - 1}) {
		position: relative;
		height: auto!important;;
	}
	.background,.shadow{
		@include SubItem();
	}
	.background{
		background-size: cover;
		background-position: center;
		@media screen and (max-width: #{$screen-xs - 1}) {
			background-size: 100% auto;
			background-position: center top;
			background-repeat: no-repeat;
		}
	}
	.shadow{
		background-size: 100% 100%;
		background-position: center;
	}
	article{
		font-size: 1.15em;
		width: per(1200, 1920);
		top: 0;
		position: absolute;
		margin: 0 0 0 per(360, 1920);
		height: 100%;
		@media screen and (max-width: #{$screen-xs - 1}) {
			font-size: 1.4em;
		}
		@media screen and (max-width: #{$screen-xs - 1}) {
			@include Item(690, 146, 0, 0, 0, 30, 750,'fit','relative');
			height: auto;
		}
		.text{
			@include SubItem();
			@media screen and (max-width: #{$screen-xs - 1}) {
				position: relative;
				height: auto;
			}
			.cap{
				margin-top: 3.5em;
				color: #ff0054;
				position: relative;
				vertical-align: middle;
				margin-left: 0;
				margin-left: 0.19em;
				font-weight: 600;
				&:before{
					position: absolute;
					top:50%;
					height: 1px;
					content: '';
					width: 0.6em;
					left: -1em;					
					background: rgba(255,255,255,0.2);
					@media screen and (max-width: #{$screen-xs - 1}) {
						display: none;
					}
				}
				img{
					margin-right: 0.6em;
					@media screen and (max-width: #{$screen-xs - 1}) {
						width: 0.6em;
					}
				}
			}
			p{
				margin-left: 5.1em;
				line-height: 1.8em;
				letter-spacing: 1px;
				font-weight: 400;
				@media screen and (max-width: #{$screen-xs - 1}) {
					margin-left: 1em;
				}

			}
			ul{
				margin-left: 11em;
				padding-left: 1em;
				position: relative;
				@media screen and (max-width: #{$screen-xs - 1}) {
					margin-left: 0;
					padding-left: 0;
				}
				&:before{
					position: absolute;
					content: '';
					border-left:1px solid rgba(255,255,255,0.2);
					width: 0;
					height: 100%;
					height: calc(100% - 2.3em);
					left: 0;
					top: 1.2em;
					@media screen and (max-width: #{$screen-xs - 1}) {
						display: none;
					}
				}
				li{
					margin-bottom: 2.5em;
					&:last-child{
						margin-bottom: 0;
					}
				}
				&:last-child{
					li{
						&:last-child{
							margin-bottom: 10em;
							@media screen and (max-width: #{$screen-xs - 1}) {
								margin-bottom: 4em;
							}
						}
					}
				}
			}
	        ul.no-lines {
	            &:before {
	                display: none;
	            }
	        }
			ol{
				margin-top: 1em;
				margin-left: 15.1em;
				margin-bottom: 10.5em;
				border:1px solid rgba(255,255,255,0.2);
				padding: 1em 1em 1em 2em;
				@media screen and (max-width: #{$screen-xs - 1}) {
					margin-left: 1em;
					padding: 0.5em 0.5em 0.5em 2.5em;
					margin-bottom: 5em;
				}
				li{
					line-height: 1.8em;
					letter-spacing: 1px;
					&+li{
						margin-top: 1em;
					}
				}

			}
		}
		aside.col-xs-6{
			line-height: 2em;
			letter-spacing: 0.3em;
		}
		h2{
			@include Item(237, 71, 185, 0, 0, 87, 1200, 'fit', 'relative');
			@media screen and (max-width: #{$screen-xs - 1}) {
				@include Item(331, 98, 0, 0, 0, 0, 690,'fit','relative');
				height: auto;
			}
			img{
				@include SubItem();
			}
		}
		.shadow-top, .shadow-butt{
			background-size: 100% auto;
			background-position: center;
			background-repeat: no-repeat;
		}
		.shadow-top{
			@include Item(1200, 186, 0, 0, 0, 0, 1200, 'fit', 'absolute');
		}
		.shadow-butt{
			@include Item(1200, 180, 'auto', 0, 0, 0, 1200, 'fit', 'absolute');
		}
	}
	.scroll{
		@include Item(1920, 131, 'auto', 'auto', 0, 0, 1920, 'fit', 'absolute');
		background-position: center;
		background-size: auto 100%;
		background-repeat: no-repeat;
		@media screen and (max-width: #{$screen-xs - 1}) {
			@include Item(29, 66, 'auto', 0, 0, 360, 750,'fit','absolute');
			background-position: center top;
			background-size: 100% auto;
			background-repeat: no-repeat;
		}
	}
}