.rule{
	@include SubItem();
	.background,.shadow{
		@include SubItem();
	}
	.background{
		background-size: cover;
		background-position: center;
	}
	.shadow{
		background-size: 100% 100%;
		background-position: center;
	}
	article{
		width: per(1200, 1920);
		top: 0;
		position: absolute;
		margin: 0 0 0 per(360, 1920);
		height: 100%;
		.text{
			@include SubItem();
			.cap{
				color: #ff0054;
				position: relative;
				vertical-align: middle;
				margin-left: 0;
				margin-left: 0.19em;
				&:before{
					position: absolute;
					top:50%;
					height: 1px;
					content: '';
					width: 0.6em;
					left: -1em;					
					background: rgba(255,255,255,0.2);
				}
				img{
					margin-right: 0.6em;
				}
			}
			p{
				margin-left: 5.1em;
				line-height: 1.8em;
				letter-spacing: 1px;

			}
			ul{
				margin-top: 3.5em;
				margin-left: 11em;
				padding-left: 1em;
				position: relative;
				&:before{
					position: absolute;
					content: '';
					border-left:1px solid rgba(255,255,255,0.2);
					width: 0;
					height: 100%;
					height: calc(100% - 2.3em);
					left: 0;
					top: 1.2em;
				}
			}
			ol{
				margin-top: 1em;
				margin-left: 15.1em;
				margin-bottom: 15.5em;
				border:1px solid rgba(255,255,255,0.2);
				li{
					line-height: 1.8em;
					letter-spacing: 1px;
					&+li{
						margin-top: 1em;
					}
				}

			}
		}
		h2{
			@include Item(237, 71, 185, 'auto', 'auto', 87, 1200, 'fit', 'relative');
			img{
				@include SubItem();
			}
		}
		.shadow-top, .shadow-butt{
			background-size: 100% auto;
			background-position: center;
			background-repeat: no-repeat;
		}
		.shadow-top{
			@include Item(1200, 186, 0, 'auto', 'auto', 0, 1200, 'fit', 'absolute');
		}
		.shadow-butt{
			@include Item(1200, 238, 'auto', 'auto', 0, 0, 1200, 'fit', 'absolute');
		}
	}
}